body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  body p {
    font-size: 1.8rem;
  }
  body h3 {
    font-size: 3.8rem;
  }
  body h6 {
    font-size: 2rem;
  }
  body a {
    font-size: 2rem;
  }
  body span {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  body a {
    font-size: 1.8rem;
  }
  body span {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  body p {
    font-size: 1.6rem;
  }
  body h3 {
    font-size: 2.6rem;
  }
  body h6 {
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
h4,
h5,
span,
p {
  font-family: "Quicksand", sans-serif;
}

h6 {
  font-family: "Pacifico", cursive, sans-serif;
}

a {
  font-family: "Segoe UI", sans-serif;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: "Quicksand", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner-home {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6600), to(rgba(5, 3, 0, 0.2))), url(../../img/banner1.jpg);
  background-image: linear-gradient(to right, #ff6600, rgba(5, 3, 0, 0.2)), url(../../img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}

.banner-home .header {
  padding: 40px 0 20px 0;
}

.banner-home .header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-home .header .navbar__left .navbar-brand {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.banner-home .header .navbar__right--search {
  position: relative;
}

.banner-home .header .navbar__right--search .search__input {
  padding: 10px 50px 10px 20px;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(22, 28, 45, 0.7);
  border-radius: 6px;
}

.banner-home .header .navbar__right--search .search__input ::-webkit-input-placeholder {
  color: #ff6600;
}

.banner-home .header .navbar__right--search a {
  text-decoration: none;
  list-style: none;
  color: rgba(22, 28, 45, 0.7);
}

.banner-home .header .navbar__right--search a .search__icon {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner-home .header .navbar__right--darkmode {
  display: block;
  padding: 0 20px;
  font-size: 2.5rem;
  font-weight: "";
  color: #fff;
}

.banner-home .header .navbar__right--menubar {
  cursor: pointer;
  font-size: 3rem;
  font-weight: "";
  color: #fff;
}

.banner-home .form-control {
  border: 1px solid #fff !important;
}

.banner-home .form-control:focus {
  color: #212529;
  border-color: #fff !important;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.banner-subsite {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(236, 98, 6, 0.98)), to(rgba(5, 3, 0, 0.83))), url(../../img/banner2.jpg);
  background-image: linear-gradient(to right, rgba(236, 98, 6, 0.98), rgba(5, 3, 0, 0.83)), url(../../img/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 35rem;
}

.banner-subsite .header {
  padding: 4rem 0 2rem 0;
}

.banner-subsite .header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-subsite .header .navbar__left .navbar-brand {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.banner-subsite .header .navbar__right--search {
  position: relative;
}

.banner-subsite .header .navbar__right--search .search__input {
  padding: 1rem 5rem 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(22, 28, 45, 0.7);
  border-radius: 0.6rem;
}

.banner-subsite .header .navbar__right--search .search__input ::-webkit-input-placeholder {
  color: #ff6600;
}

.banner-subsite .header .navbar__right--search a {
  text-decoration: none;
  list-style: none;
  color: rgba(22, 28, 45, 0.7);
}

.banner-subsite .header .navbar__right--search a .search__icon {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner-subsite .header .navbar__right--darkmode {
  display: block;
  padding: 0 2rem;
  font-size: 2.5rem;
  font-weight: "";
  color: #fff;
}

.banner-subsite .header .navbar__right--menubar {
  cursor: pointer;
  font-size: 3rem;
  font-weight: "";
  color: #fff;
}

.banner-subsite .header .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
}

.banner-subsite .header .breadcrumbs__path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-subsite .header .breadcrumbs__path a {
  display: block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ff6600;
}

.banner-subsite .header .breadcrumbs__path .breadcrumbs__page i {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin: 0 1.2rem;
}

.banner-subsite .header .breadcrumbs__path .breadcrumbs__page span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.banner-subsite .form-control {
  border: 1px solid #fff !important;
}

.banner-subsite .form-control:focus {
  color: #212529;
  border-color: #fff !important;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.footer {
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .footer__cover {
  padding: 3rem 0;
}

.footer .footer__cover .container {
  max-width: 1200px;
  padding: 1.5rem;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1280px) {
  .footer .footer__cover .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .footer .footer__cover .container {
    max-width: 960px;
  }
  .footer .footer__cover .container .footer__c1 .footer__social {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .footer .footer__cover .container {
    max-width: 720px;
  }
  .footer .footer__cover .container .footer__c3 {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .footer .footer__cover .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .footer .footer__cover .container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
  }
}

.footer .footer__cover .container .footer__row {
  margin: 0 -1.5rem;
}

.footer .footer__cover .container .footer__row .footer__c1 {
  padding-right: 3rem;
}

.footer .footer__cover .container .footer__row .footer__c1 .footer__c1-title {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
}

.footer .footer__cover .container .footer__row .footer__c1 p {
  font-size: 17px;
  font-weight: 400;
  color: #a5a2a1;
  line-height: 26px;
  margin: 0;
}

.footer .footer__cover .container .footer__row .footer__c1 .footer__social a {
  border: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 0;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: inline-block;
  line-height: 36px;
  color: #ff6600;
  text-align: center;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 10px;
}

.footer .footer__cover .container .footer__row .footer__c1 .footer__social a:hover {
  color: #fff;
  background-color: #ff6600;
}

.footer .footer__cover .container .footer__row .footer__c1 .footer__social a .fab {
  line-height: 36px;
}

.footer .footer__cover .container .footer__row .footer__c2 ul {
  list-style: none;
}

.footer .footer__cover .container .footer__row .footer__c2 ul .footer__title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 28px;
  margin-bottom: 3rem;
  position: relative;
}

.footer .footer__cover .container .footer__row .footer__c2 ul li {
  margin-bottom: 1rem;
}

.footer .footer__cover .container .footer__row .footer__c2 ul li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: #a5a2a1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 26px;
}

.footer .footer__cover .container .footer__row .footer__c2 ul li a:hover {
  color: #ff6600;
}

.footer .footer__cover .container .footer__row .footer__c3 .footer__title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 28px;
  margin-bottom: 3rem;
  position: relative;
}

.footer .footer__cover .container .footer__row .footer__c3 p {
  font-size: 17px;
  font-weight: 400;
  color: #a5a2a1;
  line-height: 26px;
}

.footer .footer__cover .container .footer__row .footer__c3 .footer__form {
  position: relative;
}

.footer .footer__cover .container .footer__row .footer__c3 .footer__form input {
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #fff;
  padding: 1.4rem 2rem;
  font-size: 18px;
  font-weight: 400;
  color: #a5a2a1;
  line-height: 28px;
  outline: none;
  width: 100%;
}

.footer .footer__cover .container .footer__row .footer__c3 .footer__form .btn-1 {
  border: 2px solid transparent;
  border-radius: 6px;
  background-color: #ff6600;
  padding: 1.2rem 4.5rem;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.footer .footer__cover .container .footer__row .footer__c3 .footer__form .btn-1:hover {
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

.footer .footer__copyright {
  padding: 1.2rem 0;
}

.footer .footer__copyright .container {
  max-width: 1200px;
  padding: 1.5rem;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1280px) {
  .footer .footer__copyright .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .footer .footer__copyright .container {
    max-width: 960px;
  }
  .footer .footer__copyright .container .copy-right {
    text-align: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .footer .footer__copyright .container .copy-right a {
    margin: 0 1rem;
  }
}

@media (max-width: 992px) {
  .footer .footer__copyright .container {
    max-width: 720px;
  }
  .footer .footer__copyright .container p.copy-left {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer .footer__copyright .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .footer .footer__copyright .container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
  }
}

.footer .footer__copyright .container .bottom__copies {
  margin: 0 -1.5rem;
}

.footer .footer__copyright .container .bottom__copies p.copy-left {
  font-size: 17px;
  font-weight: 400;
  color: #ddd;
}

.footer .footer__copyright .container .bottom__copies p.copy-left a {
  text-decoration: none;
  color: #ff6600;
}

.footer .footer__copyright .container .bottom__copies .copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer__copyright .container .bottom__copies .copy-right a {
  text-decoration: none;
  line-height: 26px;
  font-size: 17px;
  font-weight: 400;
  color: #a5a2a1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer__copyright .container .bottom__copies .copy-right a:hover {
  color: #ff6600;
}
/*# sourceMappingURL=main.css.map */