// color
$color-primary: #ff6600;
$color-secondary: #ffc600;
$color-black: #000;
$color-black-1: rgba(5, 3, 0, 0.2);
$color-white: #fff;

// font
$font-color: rgba(22, 28, 45, 0.7);

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

//background color
$bg-linear: linear-gradient(to right, $color-primary, $color-black-1);
