// Banner subsite
.banner-subsite {
  background-image: $bg-linear-1, url(../../img/banner2.jpg);
  @include bg-img(cover, no-repeat, center);
  background-attachment: fixed;
  min-height: 35rem;
  .header {
    padding: 4rem 0 2rem 0;
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__left {
        .navbar-brand {
          @include Text(3.6rem, $fw-700, $color-white);
          text-decoration: none;
        }
      }
      &__right {
        &--search {
          position: relative;
          .search__input {
            padding: 1rem 5rem 1rem 2rem;
            @include Text(1.6rem, $fw-400, $font-color);
            border-radius: 0.6rem;
            ::-webkit-input-placeholder {
              color: $color-primary;
            }
          }
          a {
            text-decoration: none;
            list-style: none;
            color: $font-color;
            .search__icon {
              font-size: 1.5rem;
              position: absolute;
              top: 50%;
              right: 1.5rem;
              transform: translate(-50%, -50%);
            }
          }

          @include mobile-md {
            display: none;
          }
        }
        &--darkmode {
          display: block;
          padding: 0 2rem;
          @include Text(2.5rem, "", $color-white);
        }
        &--menubar {
          cursor: pointer;
          @include Text(3rem, "", $color-white);
        }
      }
    }
    .breadcrumbs {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8rem;
      &__path {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          display: block;
          text-decoration: none;
          @include Text(1.8rem, $fw-600, $color-primary);
        }
        .breadcrumbs__page {
          i {
            @include Text(1.2rem, $fw-600, $color-white);
            margin: 0 1.2rem;
          }
          span {
            @include Text(1.8rem, $fw-600, $color-white);
          }
        }
      }
    }
  }

  .form-control {
    border: 1px solid #fff !important;
  }

  .form-control:focus {
    color: #212529;
    border-color: #fff !important;
    outline: none;
    box-shadow: none !important;
  }
}

// Banner subsite darkmode
.banner-subsite-darkmodee {
  .header {
    .navbar {
      .navbar__right {
        .navbar__right--search {
          .search__input {
            background-color: $bg-dark !important;
          }
          .form-control {
            border: 1px solid $bg-dark !important;
            &:focus {
              color: $font-dark;
              border-color: $bg-dark !important;
              outline: none;
              box-shadow: none !important;
            }
          }
          a {
            color: $font-dark;
          }
        }
      }
    }
  }
}
