.btn--white {
  @include btn(2px solid $color-white, 5px, transparent, 1.2rem, 4.5rem);

  @include Text(1.6rem, $fw-700, $color-white);
  line-height: 3rem;

  &:hover {
    background-color: #fff;
    color: $color-primary;
  }

  @include mobile-sm {
    padding: 1rem 2.1rem;
  }
}

.btn--orange {
  @include btn(2px solid $color-primary, 5px, $color-primary, 1.2rem, 4.5rem);

  @include Text(1.6rem, $fw-700, $color-white);
  line-height: 3rem;

  &:hover {
    opacity: 0.8;
    color: $color-white;
  }

  @include mobile-sm {
    padding: 1rem 2.1rem;
  }
}

.btn--orange-light {
  @include btn(2px solid $color-primary, 5px, $color-primary, 1.2rem, 4.5rem);

  @include Text(1.6rem, $fw-700, $color-white);
  line-height: 3rem;

  &:hover {
    opacity: 0.8;
    color: $color-white;
    background-color: $color-primary;
  }

  @include mobile-sm {
    padding: 1rem 2.1rem;
  }
}

.btn-search-err {
  @include Text(1.8rem, $fw-600, $color-white);
  background-color: $color-primary;
  padding: 0 4rem;
  letter-spacing: 0;
  border: none;
  height: 5.5rem;
  display: inline-block;
  border-radius: 6px;

  &:hover {
    opacity: 0.8;
    color: $color-white;
    background-color: $color-primary;
  }

  @include mobile-sm {
    padding: 1rem 2.1rem;
  }
}

.btn__search-dark {
  background-color: $bg-dark;
  color: $font-dark;
  &:focus {
    background-color: $bg-dark;
  }
}
