// pagenotfound
.pagenotfound {
  text-align: center;
  padding: 7.2rem 0;
  &__block {
    max-width: 600px;
    margin: 0 auto;
    h1 {
      @include Text(13rem, $fw-700, $color-black-3);
      letter-spacing: 5px;

      span {
        font-size: 12rem;
        @include mobile-md {
          font-size: 12rem;
        }
        @include mobile-sm {
          font-size: 12rem;
        }
      }
    }
    h2 {
      @include Text(2.8rem, $fw-600, $color-black-3);
      margin-bottom: 1rem;
    }

    .form {
      max-width: 500px;
      margin: 4.8rem auto 0;
      display: flex;

      .input__text {
        @include Text(1.8rem, $fw-500, $font-color);
        display: block;
        border-radius: 6px;
        background: $bg-grey;
        height: 5.5rem;
        padding: 1.2rem 12rem 1.2rem 2.5rem;
        border: 1px solid #ced4da !important;

        &:focus {
          box-shadow: none;
          border: 1px solid $color-primary !important;
        }

        @include mobile-sm {
          padding: 1.2rem 2.5rem;
        }
      }

      .btn-search {
        margin-left: 2rem;
        h4 {
          @include Text(1.8rem, $fw-600, $color-white);
          margin-bottom: 0;
        }
      }
    }

    .backtohome {
      margin-top: 4.8rem;
      display: inline-block;
      text-decoration: none;
      @include Text(1.8rem, $fw-600, $color-black-3);
      transition: all 0.3s;

      i {
        margin-right: 1rem;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}

// pagenotfound-darkmode
.pagenotfound-darkmode {
  .pagenotfound__block {
    h1 {
      color: #eee !important;
    }
    h2 {
      color: #eee !important;
    }
    p {
      color: $font-dark;
    }

    .form {
      .input__text {
        background-color: $bg-dark-grey;
      }
    }

    .backtohome {
      color: #eee !important;

      &:hover {
        color: $color-primary !important;
      }
    }
  }
}
